body,footer{
	display: block;
	width: 100%;
	margin: 0;
	color:white;
}
div{
	text-align: center;
}
body{
	line-height: 1;
	margin: 0;
	background-image: url("my.jpg");
}
nav{
	width:100%;
}
.flexing ul{
	margin : 0;
	overflow: hidden;}
.floal .floar{
	font-size: 40px;
	color: white;
	float: left;

}
.flexing ul li {
	list-style: none;
	float: right;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 44px 14px 14px 24px;
	min-height: 16px;
	text-transform: uppercase;
	opacity: 1;
}
.flexing ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.floal{
	opacity: 1;
}
.searhc{
 float: right;
 padding: 5px;
}
.fa{
	color:white;
}
.contain{
	float: right;
}
.row1{
	vertical-align: middle;
	display: table-cell;
}