body,footer{
	display: block;
	width: 100%;
	margin: 0;
	color:white;
	transition: 0.7s;
}
div{
	text-align: center;
}
body{
	line-height: 1;
	margin: 0;
	background-image: url("my2.jpg");
	background-attachment:fixed;
	background-size: cover;
}
nav{
	width:100%;
}
/* navbar */
.flexing ul{
	margin : 0;
	overflow: hidden;}
.floal{
		background-color:#0c0e0fa6;
		height:90px;
		position:fixed;
		transition: 0.5s all ease-in-out;
		
	}


.flexing ul li{
	list-style: none;
	float: left;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 44px 14px 14px 14px;
	min-height: 16px;
	text-transform: uppercase;
	opacity: 1;
	font-family: times new roman;
}
.flexing ul li:hover{
	font-size:24px;
}
.flexing ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.floal{
	opacity: 1;
	width:100%;
}
.searchc{
 float: right;
 padding: 5px;
 border:0;
 margin: 15px 57px;
}
.fa{
	color:white;
}
.contain{
	float: right;
}

.fa:hover{
	font-size: 14px;
}
/* navbar end */
/* main input section */
.row1{
	vertical-align: middle;
	display: table-cell;
}
.online-form .category {
	height: 50px;
	padding-left: 15px;
	border-radius: 29px;
}

.online-form .inputs{
    height: 50px;
	  padding-left: 25px;
    border-radius: 29px;
	width: 25%;
}
.online-form .button{
	background-color: #29ca8e;
	height: 50px;width: 124px;
	margin-left: -42px;
	color: white;
	border:0;
    border-radius: 29px;
	font-family: Times new roman
}
.online-form .button:hover{
	background-color: #2dafe1;
}
.home-info{
	background-color: #0c0e0f73;
	padding-bottom:77px;
}
/* main input section end */
/* make this section plain */
.features{
	background-color: white;
	color:black;
}
				/* below section is for media query */
@media screen and (max-width: 680px){
	.online-form .button{
		width: 74px;
		margin-left: -32px;
	}
	.online-form .inputs{
		width: 35%;
	}
	div.searchc input{
		width: 150px;
	}
}
